
.affiliateprofile-info-container {
    border-radius: 0.5rem;
    margin: 10px;
    background-color: white;
    border-color: rgba(229,231,235,1);
    box-shadow: rgba(0, 73, 198, 0.15) 0px 2.9008px 11.6032px;
}

.affiliateprofile-info-block {
    display: flex;
    padding: 15px;
}

.affilaiteprofile-image-container {
    display: flex;
    align-items: center;
}

.affiliateprofile-info-image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 50px;
}

.affiliateprofile-info-data {
    flex: 1
}

.affiliateprofile-landingpage-form-container {

}
.affiliateprofile-button-container {
    display: flex;
    justify-content: flex-end;
}